<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EezBotFun_Config.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="EezBotFun_Config.ModelView.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EezBotFun_Config.Properties.Settings>
            <setting name="wifi_ssid" serializeAs="String">
                <value>ssid</value>
            </setting>
        </EezBotFun_Config.Properties.Settings>
        <EezBotFun_Config.ModelView.Settings>
            <setting name="wifi_ssid" serializeAs="String">
                <value>ZXYD</value>
            </setting>
            <setting name="wifi_pw" serializeAs="String">
                <value>00000000</value>
            </setting>
        </EezBotFun_Config.ModelView.Settings>
    </applicationSettings>
</configuration>